table{
    border: 2px double red;
    line-height: 40px;
}
tbody{
    color:black;
    text-shadow: 3px 2px 5px violet;
}
ol{
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
}